FloWNube.json
[
    {
        "id": "e91bd94679dbd9a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5a4440cf8bd2ee3",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Inicio",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "13272fe7c2331e03"
            ]
        ]
    },
    {
        "id": "13272fe7c2331e03",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Inicio",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c839adf207cc6b6",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Stop",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "c2d002c83024ab10"
            ]
        ]
    },
    {
        "id": "c2d002c83024ab10",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Stop",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "c43d146e65508268",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "PE",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "5e518fe19b428d1c"
            ]
        ]
    },
    {
        "id": "5e518fe19b428d1c",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PE",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "c53da7c164e5588a",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Inicio/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "e5a4440cf8bd2ee3"
            ]
        ]
    },
    {
        "id": "9b6981b9e791c0e3",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Stop/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "1c839adf207cc6b6"
            ]
        ]
    },
    {
        "id": "f7622c34740383bb",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PE/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "c43d146e65508268"
            ]
        ]
    },
    {
        "id": "88f7835090e8316b",
        "type": "ui_slider",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Set Point °C",
        "tooltip": "",
        "group": "8c1c3cd0e6bc0d22",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "30",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "971c6bf4e2bd9a8e"
            ]
        ]
    },
    {
        "id": "971c6bf4e2bd9a8e",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/SP",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "76ef5063f31325da",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/SP/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "88f7835090e8316b",
                "d4fce8094f40148f"
            ]
        ]
    },
    {
        "id": "d4fce8094f40148f",
        "type": "ui_chart",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "group": "8c1c3cd0e6bc0d22",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temp/SP",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#c82d2d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "474f6570e871da8f",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Temp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "6bc4fd823fb7130b",
                "d4fce8094f40148f"
            ]
        ]
    },
    {
        "id": "6bc4fd823fb7130b",
        "type": "ui_text",
        "z": "e91bd94679dbd9a4",
        "group": "8c1c3cd0e6bc0d22",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura °C",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "b25cd3b0f16583b7",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "PID Compact",
        "tooltip": "",
        "group": "bf762a863c9bf1e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 160,
        "wires": [
            [
                "7efdb6ddc8a69a0a"
            ]
        ]
    },
    {
        "id": "7efdb6ddc8a69a0a",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PIDcompact",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "9df0bce1653cc926",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "PID Discreto",
        "tooltip": "",
        "group": "bf762a863c9bf1e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "a8e7127850f26d6e"
            ]
        ]
    },
    {
        "id": "a8e7127850f26d6e",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PIDDIs",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c296e789e4ef23d",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Retro de Estados",
        "tooltip": "",
        "group": "bf762a863c9bf1e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "b6b2369dc5813acf"
            ]
        ]
    },
    {
        "id": "b6b2369dc5813acf",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Retro",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 1110,
        "y": 280,
        "wires": []
    },
    {
        "id": "47083001ae1a75fc",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PIDcompact/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "b25cd3b0f16583b7"
            ]
        ]
    },
    {
        "id": "894d4e9adeab3a4c",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PIDdis/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "9df0bce1653cc926"
            ]
        ]
    },
    {
        "id": "670b65ea585515ab",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Retro/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "7c296e789e4ef23d"
            ]
        ]
    },
    {
        "id": "b824b0fe50b54c56",
        "type": "ui_led",
        "z": "e91bd94679dbd9a4",
        "order": 0,
        "group": "51bb7995b8415b8e",
        "width": 0,
        "height": 0,
        "label": "Temperatura Maxima superada",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "tempMax",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "4878c83a97e6339b",
        "type": "ui_led",
        "z": "e91bd94679dbd9a4",
        "order": 0,
        "group": "51bb7995b8415b8e",
        "width": 0,
        "height": 0,
        "label": "Paro de Emergencia Activo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PE",
        "x": 1090,
        "y": 440,
        "wires": []
    },
    {
        "id": "7f6ede070b8dc1e4",
        "type": "ui_led",
        "z": "e91bd94679dbd9a4",
        "order": 0,
        "group": "51bb7995b8415b8e",
        "width": 0,
        "height": 0,
        "label": "Sistema activo Selecciona Controlador",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "SelCont",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "a3f469caa0496ff4",
        "type": "ui_led",
        "z": "e91bd94679dbd9a4",
        "order": 0,
        "group": "51bb7995b8415b8e",
        "width": 0,
        "height": 0,
        "label": "Set Point Fuera de los limites",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "tempMax",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "7be179deab4c7b2b",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Alm1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "b824b0fe50b54c56"
            ]
        ]
    },
    {
        "id": "96f4f241325e85b1",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Alm2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "4878c83a97e6339b"
            ]
        ]
    },
    {
        "id": "e8ca39e0ed07cbf9",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Alm3",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "7f6ede070b8dc1e4"
            ]
        ]
    },
    {
        "id": "fae74a6d9cbebe4d",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Alm4",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "a3f469caa0496ff4"
            ]
        ]
    },
    {
        "id": "1792d2d7fcd429ab",
        "type": "ui_group",
        "name": "Botones Control",
        "tab": "b93a04c8161313b6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "160a561edce377dc",
        "type": "mqtt-broker",
        "name": "Hive",
        "broker": "b637e0680ac3421196b5932bc299cfbe.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c1c3cd0e6bc0d22",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "b93a04c8161313b6",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf762a863c9bf1e5",
        "type": "ui_group",
        "name": "Seleccion Controlador",
        "tab": "b93a04c8161313b6",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51bb7995b8415b8e",
        "type": "ui_group",
        "name": "Alarmas",
        "tab": "b93a04c8161313b6",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b93a04c8161313b6",
        "type": "ui_tab",
        "name": "Proyecto Auto",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
