FloWNube.json
[
    {
        "id": "e91bd94679dbd9a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5a4440cf8bd2ee3",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Inicio",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "13272fe7c2331e03"
            ]
        ]
    },
    {
        "id": "13272fe7c2331e03",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Inicio",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c839adf207cc6b6",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Stop",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "c2d002c83024ab10"
            ]
        ]
    },
    {
        "id": "c2d002c83024ab10",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Stop",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "c43d146e65508268",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "PE",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "5e518fe19b428d1c"
            ]
        ]
    },
    {
        "id": "5e518fe19b428d1c",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PE",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "c53da7c164e5588a",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Inicio/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "e5a4440cf8bd2ee3"
            ]
        ]
    },
    {
        "id": "9b6981b9e791c0e3",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Stop/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "1c839adf207cc6b6"
            ]
        ]
    },
    {
        "id": "f7622c34740383bb",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PE/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "c43d146e65508268"
            ]
        ]
    },
    {
        "id": "88f7835090e8316b",
        "type": "ui_slider",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Set Point °C",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "30",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "971c6bf4e2bd9a8e"
            ]
        ]
    },
    {
        "id": "971c6bf4e2bd9a8e",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/SP",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "76ef5063f31325da",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/SP/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "88f7835090e8316b",
                "d4fce8094f40148f"
            ]
        ]
    },
    {
        "id": "d4fce8094f40148f",
        "type": "ui_chart",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "group": "1792d2d7fcd429ab",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temp/SP",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#c82d2d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "474f6570e871da8f",
        "type": "mqtt in",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Temp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "160a561edce377dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "6bc4fd823fb7130b",
                "d4fce8094f40148f"
            ]
        ]
    },
    {
        "id": "6bc4fd823fb7130b",
        "type": "ui_text",
        "z": "e91bd94679dbd9a4",
        "group": "1792d2d7fcd429ab",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura °C",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "b25cd3b0f16583b7",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "PID Compact",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "7efdb6ddc8a69a0a"
            ]
        ]
    },
    {
        "id": "7efdb6ddc8a69a0a",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PIDcompact",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "9df0bce1653cc926",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "PID Discreto",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "a8e7127850f26d6e"
            ]
        ]
    },
    {
        "id": "a8e7127850f26d6e",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/PIDDIs",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c296e789e4ef23d",
        "type": "ui_switch",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "label": "Retro de Estados",
        "tooltip": "",
        "group": "1792d2d7fcd429ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "b6b2369dc5813acf"
            ]
        ]
    },
    {
        "id": "b6b2369dc5813acf",
        "type": "mqtt out",
        "z": "e91bd94679dbd9a4",
        "name": "",
        "topic": "Prueba/Retro",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "160a561edce377dc",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "1792d2d7fcd429ab",
        "type": "ui_group",
        "name": "Proyecto Auto",
        "tab": "b93a04c8161313b6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "160a561edce377dc",
        "type": "mqtt-broker",
        "name": "Hive",
        "broker": "b637e0680ac3421196b5932bc299cfbe.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b93a04c8161313b6",
        "type": "ui_tab",
        "name": "Tabla",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
